<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <id>central</id>
        </server>
        <server>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>fxo-virtual-mvn</name>
                    <url>https://artifactory.raiffeisen.ru/artifactory/fxo-virtual-mvn</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>fxo-virtual-mvn</name>
                    <url>https://artifactory.raiffeisen.ru/artifactory/fxo-virtual-mvn</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>et-virtual</id>
                    <name>et-virtual-all-mvn</name>
                    <url>https://artifactory.raiffeisen.ru/artifactory/et-virtual-all-mvn</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>et-release</id>
                    <name>et-release-mvn</name>
                    <url>https://artifactory.raiffeisen.ru/artifactory/et-release-mvn</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>fxo-virtual-mvn</name>
                    <url>https://artifactory.raiffeisen.ru/artifactory/fxo-virtual-mvn</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>fxo-virtual-mvn</name>
                    <url>https://artifactory.raiffeisen.ru/artifactory/fxo-virtual-mvn</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
